html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}


.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*width: 1200px;
  height: 600px;*/
}

.game-over{
  display: none;
  position: absolute;
  font-size: 36px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*bottom: 50%;
  left: 50%;*/
}

.level{
  display: flex;
  opacity: 0;
  flex-direction: row;
  position: absolute;
  font-size: 0px;
  color: white;
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
}

.level-active{
  opacity: 1;
  font-size: 48px
}

.level-number {
  margin-left: 10px;
}



.lives{
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 24px;
}

.lives-number{
  margin-left: 10px;
}


.try-again, .start-game{
  /*position: absolute;*/
  color: white;
  background-color: #128fdc;
  border-radius: 3px;
  border: 0px;
  padding: 0px 20px;
  margin: 10px 20px 10px 10px;
  line-height: 32px;
  height: 32px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  text-align: center;
  cursor: pointer;
}

#game-canvas{
  background: url('../img/162890612.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mute-button{
  position: absolute;
  color: white;
  background-color: #128fdc;
  border-radius: 3px;
  border: 0px;
  padding: 0px 20px;
  margin: 10px 20px 10px 10px;
  line-height: 32px;
  height: 32px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  text-align: center;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.pause-menu, .start-menu{
  font-family: 'Lato', sans-serif;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255,255,255,0.9);
  width: 300px;
  height: 400px;
  border-radius: 3px;
}

.pause-menu h2{
  width: 100%;
  font-size: 26px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}

.start-menu h2{
  width: 100%;
  font-size: 26px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}

.controls{
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls h3{
  font-size: 20px;
}

.controls ul{
  width: 80%;
  margin-top: 20px;
}

.controls li{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spacebar{
  width: 120px;
}

.m-key{
  height: 32px;
}

.active{
  display: flex;
}
