.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*width: 1200px;
  height: 600px;*/
}

.game-over{
  display: none;
  position: absolute;
  font-size: 36px;
  color: white;
  /*bottom: 50%;
  left: 50%;*/
}

.active{
  display: block;
}

#game-canvas{
  background: url('../img/162890612.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mute-button{
  position: absolute;
  color: white;
  background-color: #128fdc;
  border-radius: 3px;
  border: 0px;
  padding: 0px 20px;
  margin: 10px 20px 10px 10px;
  line-height: 32px;
  height: 32px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  text-align: center;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
