.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*width: 1200px;
  height: 600px;*/
}

.game-over{
  display: none;
  position: absolute;
  font-size: 36px;
  color: white;
  /*bottom: 50%;
  left: 50%;*/
}

.active{
  display: block;
}

#game-canvas{
  background: url('../img/162890612.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mute-button{
  position: absolute;
  top: 0px;
  right: 0px;
}
